
<% @recipes.each do |recipe| %>
  <ul>
    Recipe Name:
    <%= recipe.name %>
  </ul>
  <ul>
    Rating:
    <%= recipe.rating %>
  </ul>
  <ul>
    Ingredients:
    <% recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>
  <ul>
    Prep time:
    <%= recipe.total_time / 60 %> minutes
  </ul>

  <%= link_to "I choose you.", event_calendar_path(start: params[:start], end: params[:end], recipe_id: recipe.id), method: :post %>
____________________________________
<% end %>
