<% @recipes.each do |recipe| %>
  <ul>
    <br>
    Recipe Name:
    <h3><%= recipe.name %></h3>
  </ul>
  <ul>
    Rating:
    <h3><%= recipe.rating %></h3>
  </ul>
  <ul>
    Ingredients:
    <% recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>
  <ul>
    Prep time:
    <h3><%= recipe.total_time / 60 %> minutes </h3>
  </ul>
<button class="btn btn-default">
  <%= link_to "I choose you.", event_calendar_path(start: params[:start], end: params[:end], recipe_id: recipe.id), method: :post %>
</button>
<% end %>
