<h1><%= Time.now.strftime("%A") %></h1>

<h4>Choose Dinner Time for Tonight: </h4>

<table>
  <tr>
    <th>5pm</th>
    <th>6pm</th>
    <th>7pm</th>
    <th>8pm</th>
    <th>9pm</th>
  </tr>

  <tr>
    <td>
      <% @events.each do |event| %>
        <% if event.today? && event.hour == 17 %>
          <%= event.name %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% @events.each do |event| %>
        <% if event.today? && event.hour == 18 %>
          <%= event.name %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% @events.each do |event| %>
        <% if event.today? && event.hour == 19 %>
          <%= event.name %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% @events.each do |event| %>
        <% if event.today? && event.hour == 20 %>
          <%= event.name %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% @events.each do |event| %>
        <% if event.today? && event.hour == 21 %>
          <%= event.name %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
