
<% @calendar.days.each do |day| %>
  <h1><%= day.name %></h1>

  <h4>
    <%- if day.today? -%>
      Choose Dinner Time for Tonight:
    <%- else -%>
      Choose Dinner Time for <%= day.name %>:
    <%- end -%>
  </h4>

  <table>
    <tr>
      <% day.hours.each do |hour| %>
        <th>
          <%= hour.name %>
        </th>
      <% end %>
    </tr>

    <tr>
      <% day.hours.each do |hour| %>
        <td>
          <% if hour.events.length > 0 %>
            <% hour.events.each do |event| %>
              <span class="event-name">
                <%= event.name %>
              </span>
            <% end %>
          <% else %>
            <%= link_to "I want dinner this hour", recipes_path %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>
<% end %>
